*.bak
*.log
*.nupkg
*.old
*.sln.docstates
*.suo
*.user
*.userosscache
*.swp
*.tgz
*.tmp

.DS_Store
.env

.nuget/
bin/
downloads/
generated/
obj/
packages/
TestResults/

project.lock.json
project.assets.json

# vscode config
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
